<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Some of our Categories</h2>
    <ul class="category-grid">
        <% categories.forEach(category => { %>
            <li><%= category.name %></li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>